.main-container {
    width: 100vw;
    margin: 0 auto;
    height: 100vh;
    display: flex;
}

/* Боковое меню */

.side-menu {
    height: 100vh;
    background-color: rgb(63, 62, 62);
    display: flex;
}

.items-group {
    list-style: none;
    margin-top: 100px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 0;
}

.user-info {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.item-list {
    cursor: pointer;
    margin-bottom: 20px;
}

.item-list a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 15px;
}
.item-list a:hover {
    background-color: rgb(130, 112, 237);
}
.link-item-container {
    align-items: center;
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px;
}

.link-item-container-history {
    align-items: center;
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(130, 112, 237);
}
.icon-link {
    height: 2em;
}

/* Основной контент */

.main-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
}
/* Секция с историей входящих звонков */
.history-section-incoming-call {
    width: 50%;
    height: 100vh;
    overflow-y: auto;
}

.list-history {
    margin-top: 30px;
    margin-left: 15px;
    list-style: none;
}

.title-incoming-call {
    margin-top: 10px;
    margin-left: 10px;
}
.item-history {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 20px;
    color: rgb(130, 112, 237);
    font-size: 30px;
}

.phone-history-icon {
    height: 1em;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 10px;
    background-color: rgb(98, 200, 98);
    vertical-align: middle;
}
/* Секция с входящими звонками */
.history-section-outgoing-call {
    width: 50%;
    height: 100vh;
    margin-left: 15px;
    background-color: rgb(63, 62, 62);
    overflow-y: auto;
}

.list-history-outgoing {
    margin-top: 30px;
    margin-left: 15px;
    list-style: none;
}

.title-outgoing-call {
    margin-top: 10px;
    margin-left: 10px;
    color: aliceblue;
}
